<h1>Login Guard Demo</h1>
<hr>

<div class="login-wrapper">
  <form [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password">        
    </mat-form-field>
  </form>
  <button mat-stroked-button color="primary" (click)="onLoginClick()">Login</button>

  <div *ngIf="isError$ | async" class="msg-error">
    <span>Fehler bei der Anmeldung.</span>
  </div>
</div>
