mat-card {
  width: 500px;
  margin: 0 auto;

  .login-form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .msg-error {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ff000052;
  }

  mat-card-footer {
    padding: 2rem;
  }
}


